<div [ngClass]="{ 'background-image': isLoginPage() }">
  <!-- Header -->
  <header class="navbar" *ngIf="isLoggedIn() && !isLoginPage()">
    <div class="logo">Smart Campus Management System</div>
    <ul class="nav-links">
      <li class="notification-wrapper">
        <a routerLink="/notifications" class="notification-link">
          <i class="fas fa-bell"></i>
        </a>
      </li>
      <li><a routerLink="/home">Home</a></li>
      <li *ngIf="getRole() === 'admin'"><a routerLink="/admin">Admin</a></li>
      <li *ngIf="getRole() === 'faculty' || getRole() === 'admin'"><a routerLink="/faculty">Faculty</a></li>
      <li *ngIf="getRole() === 'student' || getRole() === 'admin'"><a routerLink="/student">Student</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
