<div class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <h2>Smart Campus Management System</h2>

    <label>
      Username:
      <input [(ngModel)]="username" name="username" required (input)="clearMessages()" />
    </label>
    <br />

    <label>
      Password:
      <input [(ngModel)]="password" name="password" type="password" required (input)="clearMessages()" />
    </label>
    <br />
    <div class="button-group">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  </form>
</div>
